.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: opacity linear .5s;
}

.header__lang-link:hover {
	text-decoration-line: underline;
  opacity: 0.8;
}

@media screen and (max-width: 418px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}






