.place__image {
  max-width: 460px;
  max-height: 460px;
  margin-right: 40px;
  object-fit: cover;
  transition: filter linear .5s;	
}

.place__image:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    max-height: 440px;
    margin-right: 32px;  
  }
}

@media screen and (max-width: 862px) {
  .place__image {
    max-width: 340px;
    max-height: 340px;
    margin-right: 28px;
  }
}

@media screen and (max-width: 740px) {
  .place__image {
    max-width: 320px;
    max-height: 320px;
    margin-bottom: 32px;
    margin-right: 0;
  }
}