.place__second-column {
	display: flex;
	max-width: 984px;
} 

@media screen and (max-width: 1024px) {
	.place__second-column {
		max-width: 928px;
	}
}

@media screen and (max-width: 768px) {
	.place__second-column {
		max-width: 720px;   
	}
}

@media screen and (max-width: 740px) {
	.place__second-column {
		flex-direction: column; 
	}
}

@media screen and (max-width: 550px) {
	.place__second-column {
		padding-left: 16px;
	}
}

@media screen and (max-width: 370px) {
	.place__second-column {
		padding-left: 0;
		align-items: center; 
	}
}

@media screen and (max-width: 320px) {
	.place__second-column {
		max-width: 320px; 
	}
}