.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1205px) {
  .header {
	  max-width: 928px;
  }
}

@media screen and (max-width: 954px) {
  .header {
	  max-width: 820px;
  }
}

@media screen and (max-width: 837px) {
  .header {
	  max-width: 720px;
  }
}

@media screen and (max-width: 740px) {
  .header {
	  max-width: 520px;
  }
}

@media screen and (max-width: 542px) {
  .header {
	  max-width: 388px;
  }
}

@media screen and (max-width: 402px) {
  .header {
	  max-width: 288px;
  }
}