.place__first-column {
  max-width: 984px;
  display: flex;
  margin-bottom: 48px;
}

@media screen and (max-width: 1024px) {
  .place__first-column {
    max-width: 928px;
  }
}

@media screen and (max-width: 820px) {
  .place__first-column {
    max-width: 720px;
  }
}

@media screen and (max-width: 740px) {
  .place__first-column {
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .place__first-column {
    margin-bottom: 32px;
    max-width: 320px;
    justify-content: left;
    align-items: flex-start;
    text-align: left;  
  }
}