.header_place_header {
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 56px;
}

@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
	margin-top: 16px;
  }
}