.footer__links {
	margin-right: 18px;
}

.footer__links:last-of-type {
	margin-right: 0;
}

@media screen and (max-width: 736px) {
  .footer__links {
    margin-right: 0;
    margin-bottom: 32px;
    align-self: center;   
  }

  .footer__links:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    align-self: flex-start;   
  }
}