.cover {
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover:before {
  max-width: 100%;
  min-height: 100%;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity linear .5s;
}

.cover:hover::before {
  opacity: 0.8;

}

@media screen and (max-width: 1213px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;   
  }
}


@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
	  min-height: 480px;    
  }
}

@media screen and (max-width: 530px) {
  .cover {
    max-width: 530px;     
  }
}

@media screen and (max-width: 320px) {
  .cover {
	  max-width: 320px;
	  min-height: 200px;
  }
}